.head 
    position: sticky
    top: 0 
    z-index: 1
    background: color-one
    &__container 
        display: container 
        display: flex 
        justify-content: flex-end 
        padding: 10px 15px
        a 
            display: inline-block
            color: #fff 
            font-size: 25px
            margin-left: 15px