.page 
    &-title 
        display: block 
        padding-bottom: 20px 
        font-size: 32px
        font-weight: bold 
        color: color-one

    &-content 
        font-size: 14px
        font-weight: regular 
        color: color-two

        p 
            padding: 10px 0

.pages
    &__title 
        display: block 
        padding-bottom: 20px 
        font-size: 32px
        font-weight: bold 
        color: color-one

    &__container 
        font-size: 14px
        font-weight: regular 
        color: color-two

        p 
            padding: 10px 0

