.wrapper 
    &, &__container 
        position: relative
    &__container 
        display: flex 
        flex-flow: column nowrap
        min-height: 100%
        .header, .footer  
            flex: 0 0 auto 
        .content 
            flex: 1 1 auto 
            min-height: 0
