.partners 
    padding: (gutter) 0

    &__container 
        display: container

    &__header 
        padding-bottom: 40px 

    &__title 
        font-size: 32px
        font-weight: bold 
        text-transform: uppercase 
        text-align: center
        color: color-one 

    &__list 
        display: flex 
        justify-content: space-between
        align-items: center 
        flex-flow: row wrap 
        margin: -(gutter/2)

    &__item 
        flex: 1 1 150px 
        padding: (gutter/2)
