color-one = #333
color-two = #8c8b91
color-three = #000

bg-primary = #f6f6f7

font-one = unquote("'Montserrat', sans-serif")
font-two = unquote("'Oswald', sans-serif")

viewport    = 1300px 
gutter      = 30px

// light     = 300
// regular   = 400
// medium    = 500
// semi-bold = 600
// bold      = 700

light     = 400
regular   = 500
medium    = 600
semi-bold = 700
bold      = 800

transition = all 300ms ease

@import './mixins';
@import './animations';